@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
html, body {
  background-color: white; /* Set the background color */
  margin: 0; /* Reset default margins */
  padding: 0; /* Reset default padding */
  height: 100%; /* Ensure full height */
  width: 100%; /* Ensure full width */
}
